@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'fresh-sans-medium';
        font-style: medium;
        src: url(../src/fonts/FreshSansMedium.ttf) format('woff2');
    }

    @font-face {
        font-family: 'fresh-sans-regular';
        font-style: normal;
        src: url(../src/fonts/FreshSansRegular.ttf) format('woff2');
    }
}

/* .menu-open {
    overflow: hidden;
}  */

/* .body {
    overflow-y:unset;
} */